body a {
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
	text-decoration:none;
}
body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
	outline:none;
}
h1, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}
ul {
	margin: 0;
	padding: 0;
}
p{
	margin:0;
	line-height: 2;
}
ul{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}

p,ul li,ol li{
	font-size:14px;
}
.text-center {
	text-align: center;
}
/*-- //Reset-Code --*/



/*-- main --*/
.img-responsive{
	height: 360px;
}
.banner-info h1 a img {
	width: 50%;
	display: block;
	margin: 0 auto;
}
.find-about a {
	float:none;
	margin-top: 1.67em;
	color:#fff;
	display: inline-block;
	text-decoration: none;
	padding: 4px 16px;
	font-size: 15px;
	background: transparent;
	border: 2px solid #fff;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
.find-about a:hover {
	background: white;
	color: #04354e;
	border: 2px solid white;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
.find-about a:focus {
	text-decoration: none;
	box-shadow: none;
	outline: none;
}

/*-- //main --*/
/*-- header --*/
.header-main {
	background:#04354e;
	position: absolute;
	width: 100%;
	top: 0;
	height: 80px;
}
/*-- Navbar --*/
.navbar-default .navbar-collapse {
	border-color:transparent;
}
.navbar {
	margin-bottom:0px;
}
.navbar-nav>li {
	float: left;
	margin: 0 5px;
}
.navbar-default .navbar-nav>li>a {
	color: #FFFEFE;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 20px 13px 30px;
	font-weight: 400;
	font-size: 14px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #16bbb9;
	border-color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	background-color: transparent;
}
.navbar-default {
	border-color: #e7e7e7;
	border: none!important;
	background: none!important;
}
.navbar {
	border-radius: 0!important;
}
/* Underline From Center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: 999;
	left: 50%;
	right: 50%;
	bottom: 0;
	background:white;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}
.navbar-right {
	float: left!important;
	margin: 10px 0 0;
	text-align: center;
}
.list-right {
	float: right;

}
.list-right li {
	padding: 26px 0 30px;
	display: inline-block;
	margin-right: 15px;}


	.list-right> li > a {
		color: #fff;
		letter-spacing: 0.5px;
		font-size: 15px;
	}
	.list-right> li > a:hover, .list-right> li > a:focus{
		color: white;
		text-decoration: none;

	}
	ul.list-right p {
		display: inline;
		color: #fff;
		font-size: 15px;
	}
	.list-icon {

		color: white;
		font-size: 1.5em !important;
		margin: 0 10px;
	}

	/*-- //Navbar --*/
	/*-- //header --*/


	.{
		background: rgba(0, 0, 0, 0.41);

	}
	.banner-layer {
		min-height:750px;
	}
	.section{
		padding:80px 0;
	}

	.header-main{
		position: absolute;
		top: 0;
		z-index: 99;
		text-align: center;
		left: 0;
		width: 100%;
	}
	.banner-info h1 a{
		color: #fff;
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		font-size: 75px;
	}
	span.sub-title {
		color: #fff;
		display: inline-block;
		width: 100px;
		height: 4px;
		background-color: #fff;
		margin: 0px 13px;
		/*-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg); */
		/* transform: rotate(45deg); */
	}

	.banner-info {
		text-align: center;
		padding: 10em 0 0em;
	}


	/*-- //banner-text --*/
	/*-- banner-top --*/

	div.about-p.text-center  span{
		color: #f5f5f5;
		font-size: 23px;
		letter-spacing: 1px;
	}
	/* about */
	.banner-btm-g1{
		padding:0;
	}

	.banner-btm-g2 {
		padding: 2em 2.5em;
		background: #04354e;
	}
	h3.title-main {
		color: #fff;
		font-size: 40px;
		text-transform: capitalize;
	}
	h4.sub-title {
		font-size: 29px;
		color: #b7b7b7;
		margin: 16px 0 10px;
	}
	/* //about */
	h3.w3layouts-title{
		font-size: 50px;
		color: #04354e;
		text-transform: capitalize;
	}
	.banner-btm-g2 p {
		color: #777;
	}
	/*--menu--*/
	/*-------*/
	/*--//menu--*/
	/*--reservation--*/
	/*-- reservation --*/
	/*--//reservation--*/
	/*--about-*/
	.about-bottom {
		margin-top: 25px;
	}
	.about-right {
		padding: 0;
	}
	.about-img1{
		background: url(../images/5.jpg)no-repeat center;
		height: 335px;
	}
	.about-img2 {
		background: url(../images/2.jpg)no-repeat center;
	}
	.about-img2,.about-img1{
		-webkit-background-size: cover;
		background-size: cover;
		-moz-background-size: cover;
		min-height: 291px;
	}
	.about-bg{
		background: url(../images/4.jpg)no-repeat center;
		-webkit-background-size: cover;
		background-size: cover;
		-moz-background-size: cover;
		padding: 0
	}
	.about-bottom-text {
		padding: 5.85em 5em;
		text-align: center;
		position: relative;
		-webkit-transition: .5s all;
		transition: .5s all;
		-moz-transition: .5s all;
		background-color: #a8cf45;
	}
	.about-bottom-text:before {
		content: '';
		position: absolute;
		bottom: -13px;
		left: 50%;
		z-index: 999;
		border-top: 13px solid #a8cf45;
		border-right: 13px solid transparent;
		border-left: 13px solid transparent;
		-webkit-transition: .5s all;
		transition: .5s all;
		-moz-transition: .5s all;
	}
	.about-bottom-text.ab1:before {
		transform: rotate(180deg);
		-webkit-transform:rotate(180deg);
		border-top: 13px solid #ec269d;
		border-right: 13px solid transparent;
		border-left: 13px solid transparent;
		bottom: 100%;
	}
	h4.title1 {
		font-size: 40px;
		color: #fff;
		text-transform: capitalize;
	}

	.about-bottom-text.ab1 {
		background-color: #ec269d;
		color: #fff;
	}

	/* about-gallery */
	.carousel {
		margin-bottom: 0;
		padding: 0 40px 30px 40px;
	}
	/* The controlsy */
	.carousel-control {
		left: -12px;
		height: 40px;
		width: 40px;
		background: none repeat scroll 0 0 #222222;
		border: 4px solid #b1b1b1;
		border-radius: 23px 23px 23px 23px;
		margin-top: 90px;
	}
	.carousel-control {
		color: #04354e;
	}
	a.thumbnail:hover, a.thumbnail:focus {
		border-color: #04354e;
	}
	.carousel-control.right {
		right: -12px;
	}
	/* The indicators */
	.carousel-indicators {
		right: 50%;
		top: auto;
		bottom: -10px;
		margin-right: -19px;
		display: none;
	}
	/* The colour of the indicators */
	.carousel-indicators li {
		background: #cecece;
	}
	.carousel-indicators .active {
		background: #428bca;
	}
	/* //about-gallery */
	/*-- main menu--*/
	/*-- //main-menu --*/

	/*-- testimonials--*/
	.carousel-control.left,.carousel-control.right  {background:none;width:25px;}
	.carousel-control.left {left:-25px;}
	.carousel-control.right {right:-25px;}
	/*-- testimonials--*/

	/*-- contact--*/
	.map{
		padding: 0;
	}
	.map iframe {
		width: 100%;
		min-height: 490px;
		display: block;
	}

	/*-- //contact --*/
	.contato{
		padding: 0;
		background-color: #04354e;
		margin-bottom: 70px;
	}
/* schedule */
.horario-atendimento{
	background: #04354e;




}

	/*--footer--*/
	.footer {
		color: white;
		padding: 30px;
		background-color: #04354e;
		clear: left;
		text-align: center;
		display: block;
	}


	.w3_agileits-subscribe {
		width: 50%;
		background: url(../images/b1.jpg) no-repeat center;
		background-size: cover;
		margin: 0 auto;
		padding:3em 2em;
	}
	.time {
		width: 68%;
		margin: 0 auto;
		border-style: solid;
		padding: 15px 15px 25px;
		border-color: #fff;
		border-width: 0px 4px 4px 4px;
	}
	span.sub-title.p1 {
		width: 30%;
	}
	.w3_agileits-subscribe h4 {
		color: #FFF;
		font-size: 40px;
		text-transform: capitalize;
		word-spacing: 12px;
		margin-bottom: 17px;
		letter-spacing: 0.5px;
	}
	.w3_agileits-subscribe h5 {
		font-size: 25px;
		margin: 15px 0 1px;
		letter-spacing: 2px;
		color: #fff;
		line-height: 1.3;
	}
	.w3_agileits-subscribe p {
		color: #ecd8d8;
		letter-spacing: 1px;
	}
	.footer-cpy {
		margin: 3em 0 0;
		background: #04354e;
		padding: 2em 0;
	}
	.footer-copy {
		margin: 2em 0 0;
	}
	.footer-copy p{
		font-size: 1em;
		color: #fff;
		text-align: center;
		line-height: 1.8em;
	}
	/*-- social-icon --*/
	.social_list li {
		display: inline-block;
		margin-left: 1em;
	}
	.social_list li a {
		color: #fff;
		text-align: center;
		display: inline-block;
		font-size: 23px;
		line-height: 46px;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		-webkit-transition: .5s all;
		-moz-transition: .5s all;
		-o-transition: .5s all;
		-ms-transition: .5s all;
		transition: .5s all;
	}
	a.facebook{
		background:#3b5998;
	}
	a.facebook:hover{
		background:#fff;
		color:#3b5998
	}
	/*-- //social icons --*/
	/*--//footer--*/
	.footer_grid_bottom ul {
		list-style-type: none;
		margin-bottom: 1em;
		color: #999;
		font-size: 14px;
	}

	.footer_grid_bottom ul li {
		display: block;
		color: #ffffff;
		letter-spacing: .5px;
		font-size: 14px;
		margin: 23px 0;
		list-style: none;
		width: 33.33%;
		float: left;
		font-weight: 500;
	}

	.footer_grid_bottom.contact p {
		margin-top: 10px;
		display: inline-block;
		width: 70%;
		line-height: 28px;
	}
	.footer_grid_bottom.contact ul li span {
		font-size: 30px;
		color: #04354e;
		text-align: center;
		display: inline-block;
		width: 80px;
		height: 80px;
		padding-top: 25px;
		margin-right: 10px;
		border-radius: 50px;
		-webkit-border-radius: 50px;
		-o-border-radius: 50px;
		-moz-border-radius: 50px;
		-ms-border-radius: 50px;
		background: white;
	}
	/*-- chef --*/
	/*-- //welcome --*/
	/*-- slid --*/
	.slid {
		background: url(../images/3.jpg)no-repeat center fixed;
		background-size: cover;
		min-height: 458px;
		position:relative;
		overflow:hidden;
	}
	.slid-text {
		padding: 5em;
		width: 50%;
		margin: 6em 0 5em;
		background: rgba(13, 33, 63, 0.8);
	}

	.slid h4 {
		font-size: 3em;
		color: #ffffff;
		margin-bottom: 0.8em;
	}
	.slid p {
		color: #fff;
		line-height: 2em;
		letter-spacing: 2px;
	}
	/*-- //slid --*/
	/*-- move top--*/
	/*-- move top--*/
	/* -- Responsive code -- */
	@media screen and (max-width: 1600px){}
		@media screen and (max-width: 1440px){
			.about-bottom-text {
				padding: 5.85em 4em;
			}
		}
		@media screen and (max-width: 1366px){
			.banner-info h2 {
				font-size: 5.3em;
			}
			.contact-right {
				padding: 4em 4em 4.8em;
			}
			.about-bottom-text {
				padding: 5.85em 3em;
			}
		}
		@media screen and (max-width: 1280px){

			.contact-right {
				padding: 4em 3em 4.8em;
			}
			.w3_agileits-subscribe {
				width: 55%;
			}
			.time {
				width: 72%;
			}
			.about-bottom-text {
				padding: 4.85em 3em;
			}
		}
		@media screen and (min-width: 1081px){

			.banner-btm{
				display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
				display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
				display: -ms-flexbox;      /* TWEENER - IE 10 */
				display: -webkit-flex;     /* NEW - Chrome */
				display: flex;
			}
			.banner-btm-g1,.banner-btm-g2 {
				-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
				-moz-box-flex: 1;         /* OLD - Firefox 19- */
				width: 20%;               /* For old syntax, otherwise collapses. */
				-webkit-flex: 1;          /* Chrome */
				-ms-flex: 1;              /* IE 10 */
				flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
			}
		}
		@media screen and (max-width: 1080px){
			.banner-layer, .agile-banner-main {
				min-height: 725px;
			}
			.banner-info h2 {
				font-size: 5.1em;
			}
			.book-left1 {
				width: 21%;
			}
			.footer_grid_bottom.contact ul li span {
				width: 79px;
			}
			.w3_agileits-subscribe {
				width: 64%;
			}
			#showLess,#loadMore{
				width:15%;
			}
			.subscribe.timings {
				width: 56%;
			}
			.slid-text {
				padding: 4em;
				width: 61%;
			}
			.banner-btm-g1, .banner-btm-g2  {
				width: 87%;
				float: none;
				margin: 0 auto;
			}
		}
		@media screen and (max-width: 1050px){
			.banner-layer, .agile-banner-main {
				min-height: 680px;
			}
			.map {
				width: 100%;
				float: none;
			}
			.contact-right{
				width:98%;
				float: none;
			}
			.banner-btm-g1, .banner-btm-g2 {
				width: 78%;
			}
			.footer_grid_bottom.contact ul li span {
				width: 74px;
				height: 74px;
				padding-top: 21px;
			}
			.subscribe-form {
				width: 76%;
			}
			.footer-grid {
				padding: 2em 0 1em;
			}
			.subscribe.timings {
				width: 61%;
			}
			h3.w3layouts-title {
				font-size: 41px;
			}
			.about-bottom-text {
				padding: 4.85em 2em;
			}
		}



		@media screen and (max-width: 1024px){
			.banner-info h2 {
				margin: 40px 0 0;
				font-size: 4.2em;
			}
			.time {
				width: 76%;
			}
			.slid h4 {
				font-size: 2.5em;
			}
			.about-img2, .about-img1 {
				min-height: 264px;
			}
			h3.w3layouts-title img {
				width: 13%;
			}
		}

		@media(max-width:1024px){
			.navbar-right {
				float:none! important;
			}
			.navbar-default .navbar-collapse, .navbar-default .navbar-form {
				border: none;
				background: #000;
			}
			.navbar-toggle {
				position: relative;
				float: right;
				padding: 8px 9px;
				margin-right: 15px;
				margin-bottom: 8px;
				background-color: transparent;
				background-image: none;
				border: 1px solid transparent;
				border-radius: 0;
			}
			.navbar-default .navbar-toggle {
				border-color: #0cb8b6;
				background: transparent;
				margin: 0;
				margin: 4px 0px 4px 0px;
			}
			.navbar-default .navbar-toggle .icon-bar {
				background-color: #fff;
			}
			.navbar-default .navbar-nav > li:nth-child(1) a {
				margin-top: 22px;
			}
			.navbar-nav > li {
				margin: 0;
			}
			.navbar-default .navbar-nav>li>a {
				font-size: 13px;
				padding: 15px 9px 14px;
				letter-spacing: 1.5px;
			}
			div#bs-example-navbar-collapse-1 {
				background: rgba(0, 0, 0, 0.83);
				margin: 0;
				padding: 0;
				position: absolute;
				width: 100%;
				top: 100%;
				z-index: 999;
				/*margin-top:0.5em;*/
				text-align: center!important;
			}
			.navbar-nav > li {
				float: none;
				width: 24%;
				margin: 0 auto;
				margin-bottom: 12px;
			}
			.navbar-nav {
				margin: 0;
			}
			.navbar {
				padding: 0.9em 0;
			}
			.list-right {
				float: none;
			}
			.list-right li {
				padding: 11px 0 12px;
			}
			.banner-info {
				padding: 9em 0 0em;
			}
			.banner-layer, .agile-banner-main {
				min-height: 580px;
			}
			.banner-info h2 {
				margin: 38px 0 0;
				font-size: 4.1em;
			}
		}
		@media screen and (max-width: 736px){
			.subscribe-form {
				width: 85%;
			}
			h3.w3layouts-title img {
				width: 14%;
			}
			#showLess, #loadMore {
				width: 20.5%;
			}
			h3.w3layouts-title {
				font-size: 40px;
			}
			.subscribe.timings {
				width: 80%;
			}
			.slid-text {
				padding: 2em;
				width: 70%;
			}
			.main-menu-bg {
				padding: 1em 2.2em 3em;
			}
			.chef h4 {
				font-size: 33px;
			}
			.load_more {
				padding: 2em 2em 3em;
			}
			.chef-right {
				padding: 1em 2em 0 0em;
			}
			.chef-bottom-left {
				padding: 5em 2em;
			}
		}
		@media screen and (max-width: 667px){
			.banner-info h1 a {
				font-size: 65px;
			}
			.banner-info h2 {
				font-size: 3.7em;
			}
			.footer_grid_bottom.contact ul li span {
				width: 58px;
				height: 58px;
				padding-top: 17px;
				font-size: 25px;
			}
			.subscribe-form {
				width: 97%;
			}
			#showLess, #loadMore {
				width: 22.5%;
			}
			.subscribe.timings {
				width: 83%;
			}
			.slid-text {
				padding: 2em;
				width: 75%;
			}
			.slid {
				min-height: 404px;
			}
			.banner-btm-g1, .banner-btm-g2 {
				width: 94%;
			}
			.section {
				padding: 55px 0;
			}
			.menu-info .nav-tabs li {
				display: block;
			}
			.chef-bottom-right {
				padding-right: 5em;
			}
		}
		@media screen and (max-width: 640px){
			.banner-info h2{
				letter-spacing: 3px;
			}
			.book-left1 {
				background-size: 100% 100%;
			}
			.map iframe {
				min-height: 350px;
			}
			.contact-right {
				padding: 4em 2em 4.8em;
			}
			#showLess, #loadMore {
				width: 24%;
			}
			.slid-text {
				padding: 2em;
				width: 84%;
			}
			h4.sub-title {
				font-size: 28px;
			}
		}
		@media screen and (max-width: 600px){
			.banner-info h1 a img {
				width: 15%;
			}
			.banner-info h2 {
				letter-spacing: 2px;
			}
			.banner-info h1 a {
				font-size: 60px;
			}
			.banner-layer, .agile-banner-main {
				min-height: 560px;
			}
			.book-left1 {
				min-height: 220px;
			}
			.w3_agileits-subscribe {
				width: 93%;
			}
			.book-right input[type=submit] {
				padding: 13px 0;
				font-size: 15px;
			}
			.w3_agileits-subscribe h4 {
				font-size: 37px;
			}
			.w3_agileits-subscribe h5 {
				font-size: 22px;
			}
			.contact-right {
				padding: 4em 2em 4em;
			}
			p.sub-p {
				font-size: 16px;
				margin-top: 10px;
			}
			#showLess, #loadMore {
				width: 26%;
			}
			h3.w3layouts-title {
				font-size: 37px;
			}
			.load_more {
				padding: 2em 2em 3em;
			}
			.subscribe.timings {
				width: 90%;
			}
			.about-img2, .about-img1 {
				min-height: 292px;
			}
			.chef h4 {
				font-size: 30px;
			}
		}
		@media screen and (max-width: 568px){
			.banner-info h2 {
				letter-spacing: 1px;
				font-size: 3.6em;
			}
			.banner-layer, .agile-banner-main {
				min-height: 530px;
			}
			.contact-right input[type="text"], .contact-right input[type="email"] {
				width: 98%;
			}
			.contact-right input[type="submit"] {
				padding: 8px 15px;
				margin: 2% 1% 0;
				font-size: 13px;
			}
			ul#myList {
				margin: 2em 0 1em;
			}
			#showLess, #loadMore {
				width: 28%;
			}
			.slid-text {
				padding: 1em 2em;
				width: 97%;
			}
			h3.title-main {
				font-size: 36px;
			}
			.banner-btm-g1, .banner-btm-g2 {
				width: 100%;
			}
			h4.sub-title {
				font-size: 27px;
			}
			h4.title1 {
				font-size: 35px;
			}
			.about-bottom-text {
				padding: 3.85em 2em;
			}
			.about-img2, .about-img1 {
				min-height: 258px;
			}
		}
		@media screen and (max-width: 480px){
			.banner-info {
				padding: 8em 0 0em;
			}
			.banner-info h2 {
				letter-spacing: 0px;
				font-size: 3.4em;
			}
			.banner-layer, .agile-banner-main {
				min-height: 500px;
			}
			.banner-info h1 a {
				font-size: 54px;
			}
			.navbar-default .navbar-nav > li:nth-child(1) a {
				margin-top: 10px;
			}
			.navbar-nav > li {
				width: 27%;
			}
			.book-left1 {
				width: 56%;
				float: none;
			}
			.book-right1 {
				width: 100%;
				float: none;
				padding: 2em 3em 2em;
				clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
			}
			.book-right input[type="text"] {
				padding: .6em 1em;
			}
			.book-right input[type=submit] {
				padding: 11px 0;
			}
			.footer-copy {
				margin: 1em 0 0;
			}
			.footer_grid_bottom ul li {
				width: 100%;
				float: none;
			}
			.footer_grid_bottom.contact ul li span {
				width: 53px;
				height: 53px;
				padding-top: 15px;
				font-size: 23px;
			}
			.subscribe-form {
				width: 100%;
			}
			.w3_agileits-subscribe input[type="email"] {
				width: 75%;
			}
			.w3_agileits-subscribe input[type="submit"] {
				width: 25%;
			}
			#showLess, #loadMore {
				width: 34%;
			}
			.menu-text-right h4, .menu-text-right1 h4 {
				font-size: 25px;
			}
			.menu-text-left {
				width: 30%;
			}
			.menu-text-right {
				width: 92%;
				margin-left: 10px;
			}
			.subscribe.timings {
				width: 100%;
			}
			.about-bottom-text {
				padding: 2.85em 2em;
			}
			h3.modal-title {
				font-size: 39px;
			}
			.chef-bottom-left {
				padding: 4em 2em;
			}
			.chef img {
				width: 100%;
			}
			.chef-right {
				padding: 1em 1em 0 1em;
			}

		}
		@media screen and (max-width: 414px){
			.banner-info h2 {
				font-size: 2.9em;
			}
			.banner-layer, .agile-banner-main {
				min-height: 450px;
			}
			.list-icon {
				font-size: 1.3em !important;
			}
			.navbar-nav > li {
				width: 34%;
			}
			.contact-right {
				padding: 2em;
			}
			.w3_agileits-subscribe h5 {
				font-size: 20px;
			}
			.w3_agileits-subscribe {
				width: 100%;
				padding: 2em 1em;
			}
			.load_more {
				padding: 2em 1em 3em;
			}
			h3.title-main {
				font-size: 34px;
			}
			.about-bottom-text {
				padding: 2.85em 1em;
			}
			h4.title1 {
				font-size: 32px;
			}
			#showLess, #loadMore {
				width: 39%;
			}
			.about-bg {
				min-height: 230px;
				width: 92%;
				margin: 0 auto;
			}
		}
		@media screen and (min-width: 385px){

			.about-right{
				-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
				-moz-box-flex: 1;         /* OLD - Firefox 19- */
				/* For old syntax, otherwise collapses. */
				-webkit-flex: 1;          /* Chrome */
				-ms-flex: 1;              /* IE 10 */
				flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
			}
			.about-right,.about-bottom-text,.about-img2, .about-img1{
				-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
				-moz-box-flex: 1;         /* OLD - Firefox 19- */
				-webkit-flex: 1;          /* Chrome */
				-ms-flex: 1;
				flex:1;           /* IE 10 */
			}
			.about-sub-grid,about-right-flex{
				padding:0;
				display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
				display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
				display: -ms-flexbox;      /* TWEENER - IE 10 */
				display: -webkit-flex;     /* NEW - Chrome */
				display: flex;
			}
		}
		@media screen and (max-width: 384px){
			.banner-info h1 a {
				font-size: 50px;
			}
			.banner-info h2 {
				font-size: 2.6em;
			}
			.banner-info {
				padding: 7em 0 0em;
			}
			.banner-layer, .agile-banner-main {
				min-height: 420px;
			}
			.banner-info h1 a img {
				width: 20%;
			}
			.book-right1 {
				padding: 2em;
			}
			h3.title-contact {
				font-size: 37px;
			}
			.w3_agileits-subscribe input[type="submit"],.w3_agileits-subscribe input[type="email"] {
				width: 100%;
			}
			.w3_agileits-subscribe input[type="submit"]:hover {
				border-top: 1px solid #04354e;
				border-left: 0;
			}
			p.sub-p {
				line-height: 1.5;
			}
			.chef-left,.chef-right {
				width: 100%;
			}
			#showLess, #loadMore {
				width: 42%;
			}
			.footer-copy p {
				font-size: 0.95em;
			}
			.chef-bottom-right {
				width: 100%;
			}
			.about-bg {
				min-height: 230px;
			}
			.slid h4 {
				font-size: 2.3em;
			}
			.about-img2, .about-img1 {
				min-height: 253px;
			}
			.slid-text {
				padding: 1em 2.3em;
			}
			h4.sub-title {
				font-size: 25px;
			}
			h3.w3layouts-title {
				font-size: 35px;
			}
			.section {
				padding: 50px 0;
			}
		}

		@media screen and (max-width: 375px){
			.banner-info h2 {
				font-size: 2.5em;
			}
			.banner-info h2 {
				margin: 25px 0 0;
			}
			.banner-info p {
				font-size: 14px;
				margin-top: 8px;
			}
			.banner-layer, .agile-banner-main {
				min-height: 405px;
			}
			span.sub-title {
				width: 85px
			}
			.banner-layer {
				background: rgba(0, 0, 0, 0.56);
			}
			.list-right li {
				margin-right: 13px;
			}
			.navbar-default .navbar-nav>li>a {
				padding: 9px 9px 14px;
			}
			.footer_grid_bottom.contact ul li span {
				width: 49px;
				height: 49px;
				padding-top: 13px;
				font-size: 22px;
				line-height: 23px;
			}
			p.sub-p {
				font-size: 14px;
				letter-spacing: 1.5px;
			}
			.w3_agileits-subscribe h4 {
				font-size: 35px;
			}
			.time {
				width: 90%;
			}
			.banner-btm-g2 {
				padding: 2em 1.8em;
			}
			.chef-bottom-right {
				padding-right: 1em;
			}
			.about-bottom-text:before {
				left: 46%;
			}
			span.sub-title.p1 {
				width: 36%;
			}
			.menu-text-left {
				width: 40%;
			}
			#showLess, #loadMore {
				width: 43%;
			}
			.modal-body h4 {
				font-size: 26px;
			}
		}
		@media screen and (max-width: 320px){
			.banner-info h2 {
				font-size: 2.15em;
			}
			.section {
				padding: 30px 0;
			}
			h3.title-main {
				font-size: 32px;
			}

			.navbar-nav > li {
				width: 42%;
			}
			ul.list-right p ,.list-right> li > a{
				font-size: 14px;
			}
			.list-right li {
				padding: 10px 0 8px;
				margin-right: 0;
			}
			.book-left1 {
				min-height: 200px;
			}
			.form-left,.form-right {
				float: none;
				width: 100%;
			}
			.book-right input[type="text"] {
				padding: .4em 1em;
			}
			.book-left1 {
				min-height: 185px;
			}
			.contact-right {
				padding: 2em 1em;
			}
			.footer-copy p {
				padding: 0 10px;
			}
			#showLess, #loadMore {
				width: 54%;
				margin: 1em 0 0;
			}
			.main-menu-bg {
				padding: 1em 1.2em 3em;
			}
			.load_more {
				padding: 2em 0em 3em;
			}
			#showLess, #loadMore {
				width: 48%;
				font-size: 1em;
			}
			.chef-bottom-left {
				padding: 2em 1em 4em;
			}
			h4.sub-title {
				font-size: 23px;
			}
			span.sub-title.p1 {
				width: 34%;
			}
			.w3_agileits-subscribe h5 {
				font-size: 18px;
			}
		}
		/* -- //Responsive code -- */
